:root {
    --background-color: black;
    --text-color: #B3B9B1;
    --header-color: white;
    --hover-color: #FFFFFF;
    --font-weight: 300;
}

* {
    background-color: var(--background-color);
    background-image: url("/midia/img/java.png");
    color: var(--text-color);
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

/* Estilo para o cabeçalho */
header>h1 {
    color: var(--header-color);
    font-weight: 700;
}

/* Navegação no topo */
.topnav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.topnav-right>p {
    font-size: 20px;
    font-weight: 600;
}

#years-experience {
    font-size: 20px;
    font-weight: 500;
}

/* Estilo principal */
main {
    display: flex;
}

/* Estilo para abas */
.tab {
    width: 30%;
    height: 300px;
}

.tab a {
    text-decoration: none;
}

.tab p {
    display: block;
    padding-left: 2px;
    padding-right: 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

p.tablinks {
    width: 250px;
    margin-top: 26px;
    margin-left: 100px;
}

.tab p:hover {
    color: var(--hover-color);
    font-weight: 600;
    font-size: 40px;
}

.tab p.active {
    color: var(--hover-color);
}

/* Conteúdo das abas */
.tabcontent {
    margin-top: 50px;
    text-align: center;
}

.tabcontent h1 {
    width: 800px;
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 0px;

}

.tabcontent h2 {
    width: 790px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
}

.tabcontent h3 {
    font-size: 20px;
    width: 780px;
}

.tabcontent a {
    text-decoration: none;
}

.tabcontent button {
    background-color: rgba(202, 205, 201, 0.1);
    color: black;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    width: 350px;
    height: 70px;
    padding-right: 35px;
    margin-top: 120px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.tabcontent button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: none;
    /* Sem animação no estado normal */
    z-index: -1;
    /* Garantir que o contorno fique atrás do botão */
}

.imagem-container {
    position: relative;
    display: inline-block;
    width: 50px; 
    height: 50px; 
    background-color: transparent;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.tabcontent-button:hover .imagem-container {
    background-color: #06D86B;
    background-image: url('/midia/img/linkedin-black.png');
    background-size: cover;
    background-position: center;
}

.tabcontent-button:hover .imagem-container img {
    opacity: 0;
}

.tabcontent img {
    background-color: transparent;
    width: 50px;
    cursor: pointer;
    border-radius: 50px;
}

p#acesso-linkedin {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    background-color: transparent;
    color: #CCD2CB;
    text-decoration: none;
}


.tabcontent button>.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 65px;
    font-size: 40px;
    font-weight: 500;
    border-radius: 50px;
    background-color: transparent;
}

/*TESTE*/

.tabcontent button:hover::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent, #fff, transparent);
    animation: borderGlow 5s linear infinite;
    z-index: -1;
    /* Garantir que o contorno fique atrás do botão */
}


@keyframes borderGlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tabcontent img:hover {
    background-color: #06D86B;
    width: 50px;
    cursor: pointer;
    border-radius: 50px;
    background-image: url('/midia/img/linkedin-black.png');
}

.tabcontent button:hover p#acesso-linkedin {
    background-color: #06D86B;
    color: black;
}

.tabcontent button>.overlay:hover {
    position: absolute;
    background-color: #06D86B;
}